<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="root">
        <div class="articles">
            <article v-for="article in filteredArticles" :key="article.id">
              <h2>{{ article.title }}</h2>
              <p>{{ article.content }}</p>
              <footer>
                <span v-for="tag in article.tags" :key="tag" class="tag" @click="addTagToFilter(tag)">
                  #{{ tag }}
                </span>
              </footer>
            </article>
          </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#root',
            data: {
                articles: [
                    { id: 1, title: 'Обучение', content: 'Обучение на основе государственной лицензии', tags: ['oбучение', 'лицензия', 'диплом'] },
                    { id: 2, title: 'Диплом', content: 'Дипломы об обучении установленного образца', tags: ['лицензия', 'диплом'] },
                    { id: 1, title: 'Tрудоустройствo', content: 'Гарантия трудоустройства прописана в договоре', tags: ['гарантия', 'трудоустройствo'] },
                    { id: 2, title: 'Программа', content: 'Программа обучения для каждого', tags: ['гарантия', 'oбучение', 'лицензия'] },
                    // Добавьте другие статьи с тегами
                    ],
                    selectedTags: [],
            },
            methods: {
                addTagToFilter(tag) {
                    if (!this.selectedTags.includes(tag)) {
                        this.selectedTags.push(tag);
                    } else {
                        this.selectedTags = this.selectedTags.filter(t => t !== tag);
                    }
                }
            },  
            computed: {
                filteredArticles() {
                    // Фильтруем статьи по выбранным тегам
                    if (this.selectedTags.length === 0) {
                        return this.articles; // Если теги не выбраны, показываем все статьи
                    }
                    return this.articles.filter(article =>
                        article.tags.some(tag => this.selectedTags.includes(tag))
                    );
                    }
            }
                
        })
    </script>
</body>
</html>