@mixin titles_text{
    font-family: "DM Serif Display", serif;
    font-style: normal;
}
@mixin small_text{
    font-family: "Jost", sans-serif;
    font-style: normal;
}
@mixin flex_between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin flex_center($gap){
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $gap;
}